name: Dev Worflow -  Only Test

on: [push]

jobs:
    health-checkup-job: #Check the healthy by running tests
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 4
            matrix:
                python-version: [3.8 ]
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install poetry
                  poetry install
            # - name: Run migrations
            #   run: |
            #       cd folio_backend && python manage.py makemigrations --noinput
            #       cd folio_backend && python manage.py migrate --noinput
            # - name: Run Tests
            #   run: |
            #       cd folio_backend && poetry run python manage.py test
            # - name: Check Syntax #We are just testing the syntax in names app; pycodestyle uses pep8 conventions of max line length of 79 characters while Django recommends 119 characters
            #   run: pycodestyle --statistics names

    deploy-job:
        runs-on: ubuntu-latest
        needs: [health-checkup-job]
        if: ${{ github.event_name == 'push' }}
        steps:
            - name: Install Dependencies
              run: |
                  sudo apt-get update -qy
                  sudo apt-get install -y ruby-dev
                  sudo gem install dpl
                  wget -qO- https://cli-assets.heroku.com/install-ubuntu.sh | sh
            - name: Deploy
              run: |
                  sudo dpl --provider=heroku --app=${{secrets.HEROKU_APP_NAME}} --api-key=${{secrets.HEROKU_API_KEY}}
                  export HEROKU_API_KEY=${{secrets.HEROKU_API_KEY}}
                  heroku run --app ${{secrets.HEROKU_APP_NAME}} python manage.py migrate
